.header__link-item:hover{
    opacity: 0.5;
}

.header__link-item{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    color: black;
    margin-left: 35px;
}
