.info{
    margin-top: 65px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.info__bubble{
    background-color: #C4C4C4;
    width: 508px;
    height: 540px;
    border-radius: 57px;
}

.info__bubble-text{
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 37px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: black;
}

.homepage__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
}