.bth{
    appearance: none;
    width: 242px;
    height: 51px;
    background: #4872B7;
    border-radius: 30px;
    border: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}

.bth:hover {
    background: #1d49aa;
}

.bth:focus{
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}